# Ignorar archivos generados por Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

.mvn/
mvnw
mvnw.cmd

# Ignorar logs y archivos de compilación de Maven
*.log
*.class
*.jar
*.war
*.ear

# Ignorar archivos específicos de herramientas de desarrollo
HELP.md

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Gradle ###
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/